# Prepare OS for CloudStack KVM Host
---
- name: Gather facts
  ansible.builtin.setup:
  when: ansible_facts['fqdn'] is not defined

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ prepare_kvm_hostname }}"
  when: prepare_kvm_hostname != ansible_facts['hostname']

- name: Configure /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^{{ ansible_facts['default_ipv4']['address'] | default('127.0.1.1') }}.*{{ prepare_kvm_hostname }}.*"
    line: "{{ ansible_facts['default_ipv4']['address'] | default('127.0.1.1') }} {{ prepare_kvm_hostname }} {{ prepare_kvm_hostname.split('.')[0] }}"
    state: present
    backup: true
  when: prepare_kvm_hostname is defined

- name: Ensure localhost entry
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^127\\.0\\.0\\.1"
    line: "127.0.0.1 localhost localhost.localdomain"
    state: present

- name: Install chrony
  ansible.builtin.apt:
    name: "{{ prepare_kvm_chrony_packages }}"
    state: present
    update_cache: true

- name: Enable chrony
  ansible.builtin.systemd:
    name: "{{ prepare_kvm_chrony_service }}"
    enabled: true
    state: started

- name: Install UEFI packages
  ansible.builtin.apt:
    name: "{{ prepare_kvm_uefi_packages }}"
    state: present
  when: prepare_kvm_uefi_support

- name: Install aria2
  ansible.builtin.apt:
    name: "{{ prepare_kvm_aria2_packages }}"
    state: present
  when: prepare_kvm_aria2_support

- name: Enable root SSH login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin yes"
    backup: true
  notify: Restart SSH
  when: prepare_kvm_enable_pass_auth | default(true)

- name: Enable SSH password auth
  ansible.builtin.lineinfile:
    path: "{{ item }}"
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication yes"
  notify: Restart SSH
  loop:
    - /etc/ssh/sshd_config
    - /etc/ssh/sshd_config.d/50-cloud-init.conf
  when: prepare_kvm_enable_pass_auth | default(true)
  failed_when: false

- name: Configure passwordless sudo
  ansible.builtin.lineinfile:
    path: "/etc/sudoers.d/{{ ansible_user }}"
    line: "{{ ansible_user }} ALL=(ALL) NOPASSWD: ALL"
    create: true
    mode: "0440"
    validate: "visudo -cf %s"
  when:
    - ansible_user is defined
    - ansible_user != 'root'
