---
- name: Create a Job Template with no survey
  awx.awx.job_template:
    name: '{{ item.name }}'
    organization: Default
    state: present
    inventory: '{{ awx_inventory_name }}'
    playbook: '{{ item.file }}'
    project: '{{ awx_project_name }}'
    credentials:
      # - 'Host Credentials'
      - 'Vault Credentials'
    controller_host: '{{ awx.hostname }}'
    controller_username: '{{ awx.username }}'
    controller_password: '{{ awx.password }}'
    validate_certs: false
  loop:
    - {
        name: 'Proxmox - OMV Deployment',
        file: ansible/playbooks/vms/omv.yaml,
        enable_survey: false,
      }
    - {
        name: 'CloudStack - Prepare Management',
        file: ansible/playbooks/cloudstack/01-prepare-management.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Prepare KVM',
        file: ansible/playbooks/cloudstack/02-prepare-kvm.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Configure',
        file: ansible/playbooks/cloudstack/03-configure.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Kubernetes Setup',
        file: ansible/playbooks/cloudstack/04-kubernetes-setup.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Instances',
        file: ansible/playbooks/cloudstack/05-instances.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Kubernetes Cluster',
        file: ansible/playbooks/cloudstack/06-kubernetes-cluster.yml,
        enable_survey: true,
      }
    - {
        name: 'CloudStack - Cleanup',
        file: ansible/playbooks/cloudstack/99-cleanup.yml,
        enable_survey: true,
      }
