.venv*
packages/
.vault_pass
.vscode
manifest*
kube*
!kubernetes_cluster
.envrc
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
node_modules/*
extra_vars.json
.ansible

# Ansible collections from Galaxy (installed via requirements.yaml)
ansible/collections/ansible_collections/*
!ansible/collections/ansible_collections/homelab
