# Add Kubernetes Versions
---
- name: List zones
  ngine_io.cloudstack.zone_info:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
  register: configure_kubernetes_zones_info_response

- name: Build zone ID map
  ansible.builtin.set_fact:
    configure_kubernetes_zone_id_map: "{{ dict(configure_kubernetes_zones_info_response.zones | default([]) | map(attribute='name') | zip(configure_kubernetes_zones_info_response.zones | default([]) | map(attribute='id'))) }}"

- name: List existing versions
  ansible.builtin.uri:
    url: "{{ cloudstack_api_url }}"
    method: POST
    body_format: form-urlencoded
    body:
      command: listKubernetesSupportedVersions
      response: json
      sessionkey: "{{ cloudstack_session_key }}"
    headers:
      Cookie: "{{ cloudstack_cookies }}"
  register: configure_kubernetes_existing_versions

- name: Build existing versions list
  ansible.builtin.set_fact:
    configure_kubernetes_existing_semantic_versions: "{{ configure_kubernetes_existing_versions.json.listkubernetessupportedversionsresponse.kubernetessupportedversion | default([]) | map(attribute='semanticversion') | list }}"

- name: Add Kubernetes versions
  ansible.builtin.uri:
    url: "{{ cloudstack_api_url }}"
    method: POST
    body_format: form-urlencoded
    body:
      command: addKubernetesSupportedVersion
      name: "{{ item.name }}"
      semanticversion: "{{ item.semantic_version }}"
      url: "{{ item.url }}"
      zoneid: "{{ item.zone_id | default(configure_kubernetes_zone_id_map[item.zone_name]) }}"
      mincpunumber: "{{ item.min_cpu | default(2) }}"
      minmemory: "{{ item.min_memory | default(2048) }}"
      directdownload: true
      response: json
      sessionkey: "{{ cloudstack_session_key }}"
    headers:
      Cookie: "{{ cloudstack_cookies }}"
  loop: "{{ configure_kubernetes_versions }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.semantic_version not in configure_kubernetes_existing_semantic_versions
  failed_when: false
