# Create Compute Offering for Kubernetes
---
- name: Create compute offering
  ngine_io.cloudstack.service_offering:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ configure_kubernetes_compute_offering.name }}"
    display_text: "{{ configure_kubernetes_compute_offering.display_text | default(configure_kubernetes_compute_offering.name) }}"
    cpu_number: "{{ configure_kubernetes_compute_offering.cpu }}"
    cpu_speed: "{{ configure_kubernetes_compute_offering.cpu_speed }}"
    memory: "{{ configure_kubernetes_compute_offering.memory }}"
    storage_type: "{{ configure_kubernetes_compute_offering.storage_type | default('shared') }}"
    offer_ha: "{{ configure_kubernetes_compute_offering.offer_ha | default(false) }}"
    host_tags: "{{ configure_kubernetes_compute_offering.host_tags | default(omit) }}"
    state: present
