# Enable CloudStack Kubernetes Service
---
- name: Enable Kubernetes service
  ngine_io.cloudstack.configuration:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "cloud.kubernetes.service.enabled"
    value: "{{ 'true' if configure_kubernetes_enabled else 'false' }}"
    api_timeout: 300

- name: Set endpoint URL
  ngine_io.cloudstack.configuration:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "endpoint.url"
    value: "{{ configure_kubernetes_endpoint_url }}"
    api_timeout: 300
