---
- name: Playbook to configure ansible controller post installation
  hosts: localhost
  connection: local
  environment:
    CONTROLLER_HOST: '{{ awx.hostname }}'
    CONTROLLER_USERNAME: '{{ awx.username }}'
    CONTROLLER_PASSWORD: '{{ awx.password }}'
    CONTROLLER_VERIFY_SSL: 'false'
  vars_files:
    - ../../vars/common.vault.yaml
  tasks:
    - name: Configure Platform Settings
      awx.awx.settings:
        settings:
          SESSION_COOKIE_AGE: 7200
          GALAXY_IGNORE_CERTS: true

    - name: Add notifiers to Default Organization
      awx.awx.organization:
        name: Default
        state: present

    - name: Create an inventory
      awx.awx.inventory:
        name: '{{ awx_inventory_name }}'
        organization: Default

    # - name: Machine Credentials
    #   awx.awx.credential:
    #     name: Host Credentials
    #     credential_type: Machine
    #     organization: Default
    #     inputs:
    #       username: '{{ host_user }}'
    #       password: '{{ host_password }}'
    #       ssh_key_data: "{{ lookup('file', '/Users/vikaspogu/.ssh/id_rsa') }}"

    - name: Ansible Vault Credentials
      awx.awx.credential:
        name: Vault Credentials
        credential_type: Vault
        organization: Default
        inputs:
          vault_password: '{{ vault_password }}'

    - name: '{{ awx_project_name }}'
      awx.awx.project:
        name: '{{ awx_project_name }}'
        organization: Default
        state: present
        scm_update_on_launch: true
        scm_delete_on_update: true
        scm_type: git
        scm_url: https://github.com/Vikaspogu/homelab-orchestrator.git

    - name: Add inventory source to inventory
      awx.awx.inventory_source:
        name: 'scm-inventory'
        description: Source for inventory
        inventory: '{{ awx_inventory_name }}'
        overwrite: true
        update_on_launch: true
        organization: Default
        source: 'scm'
        source_project: '{{ awx_project_name }}'
        source_path: 'ansible/inventory/hosts.yaml'

    - name: Create a Job Template with no survey
      ansible.builtin.import_tasks: ../../awx/job_templates/job-template-no-survey.yaml
      register: job_templates
      until: not job_templates.failed
      retries: 10
      delay: 10

    # - name: Create a Job Template with survey
    #   ansible.builtin.import_tasks: ../../awx/job_templates/job-template-survey.yaml
    #   register: job_templates_survery
    #   until: not job_templates_survery.failed
    #   retries: 10
    #   delay: 10

    # - name: Create a Job Template with survey
    #   awx.awx.schedule:
    #     name: 'Shutdown Hosts'
    #     state: present
    #     unified_job_template: 'Adhoc - Shutdown Hosts'
    #     rrule: 'DTSTART:20250601T133500Z RRULE:FREQ=DAILY;INTERVAL=1;WKST=SU;BYHOUR=19;BYMINUTE=30'
    #   register: result
