# Create CloudStack affinity groups
---
- name: Create affinity groups
  ngine_io.cloudstack.affinity_group:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    api_timeout: 300
    name: "{{ group.name }}"
    affinity_type: "{{ group.type }}"
    state: present
  loop: "{{ cloudstack_instance_affinity_groups }}"
  loop_control:
    loop_var: group

