---
datacenter:
  username: automation-api-user
  password: pass-t!udp5nxd
  hass_user_password: fpECsnxwJMnA68av7Rn3
ssh_keys: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDEmAVZWnLeKQkHVuD5U0L2JOacFNBhn9m4tMXqN3/hUMRKSs9LvVkReFCSdOE0jmEZAEbLfExIbEzMhvYDcSJvXpHtHFYzlXADRL6IjqCv7XcuP6Ps/HQlRHmU57Y7OakB98Sv6LqyxPLq+gzVltXvwjjVZQU/ETqTdoe2tGTwFHRedzVATN/9YREMaSwY3XyP33g+lQiyztRDiLDq9fmw9PJ513E/EObuZ3J0iCcJYpGRlngm6Nqc7525mUIo5zsDcGaLh9STl1OXaeLQaNCcHrXazv1J9awrDpM/WyTDT0btVmZil7X2p7xyCGTxxW2WP9+f49Nq38S0uU3o8MYtbN/1Ok+3QsS2MtwmONy3cpOpoOZreUgU6mw4mqxVxd240ALd1aXqEXJr728fMFRrKu9xqqde4VWYJcaqOAT3AIm6jBdpZ1UXepxp/qoVDw5AXvfdjCs5/x3sPIGv8mZ7l0ElbK0nzZhUNI4VL8Fl2olooRCi4PdMk2U1+3eQHDc= vikaspogu@vpogu-mac'

promtail_ip: 10.30.30.161
scrutiny_address: 'https://scrutiny.vikaspogu.com'
awx:
  hostname: awx.a113.casa
  username: admin
  password: "xHqEgVAo4W7HUwH@*e.ZVdHP"

###############
## AWX Vars#####
###############
domain_internal: a113.internal
host_user: vikaspogu
host_password: 'buddha*soot9flatbed'
vault_password: mQ2i6vG6oAivKntJjvjN
awx_inventory_name: 'Homelab Inventory'
awx_project_name: 'Homelab Orchestrator'
sops_secret_key: AGE-SECRET-KEY-1HGVSH2HHCZ20DLWSGFMZXC6067WAHC7GMJ5RGQXEZ26FKHF0DTDSP5CPCK

###############
## CloudStack API Auth Role Vars ##
###############
# Shared variables used by api_auth role (cross-role)
cloudstack_api_url: "http://10.30.30.55:8080/client/api"
cloudstack_admin_username: "admin"
cloudstack_admin_password: "e_VDQUAdL__tXLvPBux-a9ex"

# Ansible SSH credentials
ansible_user: "vikaspogu"
ansible_password: "buddha*soot9flatbed"

###############
## Prepare Management Role Vars ##
###############
prepare_management_version: "4.22"
prepare_management_db_password: "your_secure_password"
prepare_management_server_key: "your_secure_key"
prepare_management_database_key: "your_secure_db_key"

###############
## Prepare KVM Role Vars ##
###############
prepare_kvm_version: "4.22"
prepare_kvm_mgmt_interface: "enp0s25"
prepare_kvm_mgmt_domain: "a113.internal"
prepare_kvm_vfio_gpu_enabled: true

###############
## Configure Kubernetes Role Vars ##
###############
configure_kubernetes_endpoint_url: "http://cloudstack-mgmt.a113.internal:8080/client/api"
configure_kubernetes_enabled: true
configure_kubernetes_network_offering: "DefaultNetworkOfferingforKubernetesService"
configure_kubernetes_experimental_features: false

configure_kubernetes_compute_offering:
  name: "CKS Instance"
  display_text: "Compute offering for CloudStack Kubernetes Service nodes"
  cpu: 8
  cpu_speed: 2000
  memory: 8192
  storage_type: "local"
  offer_ha: false
  host_tags: "kubernetes"

configure_kubernetes_compute_offering_recreate: true

configure_kubernetes_versions:
  - name: "v1.33.1-x86_64"
    semantic_version: "1.33.1"
    url: "http://download.cloudstack.org/cks/setup-v1.33.1-calico-x86_64.iso"
    zone_name: "Zone1"
    min_cpu: 8
    min_memory: 8192
  - name: "v1.32.5-x86_64"
    semantic_version: "1.32.5"
    url: "http://download.cloudstack.org/cks/setup-v1.32.5-calico-x86_64.iso"
    zone_name: "Zone1"
    min_cpu: 8
    min_memory: 8192

###############
## Kubernetes Cluster Role Vars ##
###############
kubernetes_cluster_list:
  - name: "k8s-prod"
    description: "Production Kubernetes Cluster"
    zone: "Zone1"
    kubernetes_version: "v1.32.5-x86_64"
    service_offering: "CKS Instance"
    network: "guest-network"
    enable_csi: true
    size: 1
    control_nodes: 1
    node_root_disk_size: 50

kubernetes_cluster_wait_for_cluster: true
kubernetes_cluster_wait_timeout: 1800

###############
## CloudStack Ops Role Vars ##
###############
cloudstack_ops_zone:
  name: "Zone1"
  dns1: "8.8.8.8"
  internal_dns1: "10.30.30.1"
  network_type: "Advanced"
  guest_cidr: "10.1.0.0/16"
  local_storage_enabled: true
  security_groups_enabled: false

cloudstack_ops_physical_networks:
  - name: "Physical Network 1"
    isolation_method: "VLAN"
    vlan_range: ""
    traffic_types:
      - type: "Management"
        label: "cloudbr0"
      - type: "Guest"
        label: "cloudbr0"
      - type: "Public"
        label: "cloudbr0"

cloudstack_ops_pods:
  - name: "Pod1"
    gateway: "10.30.30.1"
    netmask: "255.255.255.0"
    start_ip: "10.30.30.60"
    end_ip: "10.30.30.75"

cloudstack_ops_clusters:
  - name: "Kubernetes-Cluster"
    pod_name: "Pod1"
    hypervisor: "KVM"
    cluster_type: "CloudManaged"

cloudstack_ops_hosts:
  - hostname: "10.30.30.56"
    cluster_name: "Kubernetes-Cluster"
    host_tags: "kubernetes,gpu"

cloudstack_ops_networks:
  - name: "guest-network"
    display_text: "Guest Network"
    network_offering: "DefaultSharedNetworkOffering"
    gateway: "10.30.30.1"
    netmask: "255.255.255.0"
    start_ip: "10.30.30.76"
    end_ip: "10.30.30.90"
    vlan: "untagged"

cloudstack_ops_primary_storages:
  - name: "NFS"
    cluster_name: "Kubernetes-Cluster"
    scope: zone
    provider: "NFS"
    url: "nfs://10.30.30.55/export/primary"

cloudstack_ops_secondary_storages:
  - name: "NFS"
    provider: "NFS"
    url: "nfs://10.30.30.55/export/secondary"

cloudstack_ops_ssh_key_name: "cloudstack-key"
cloudstack_ops_enable_zone: true

cloudstack_instances: []
