# Add Secondary Storage to CloudStack
---
- name: Add secondary storage
  ngine_io.cloudstack.image_store:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ storage.name }}"
    zone: "{{ cloudstack_ops_zone.name }}"
    provider: "{{ storage.provider | default('NFS') }}"
    url: "{{ storage.url }}"
    state: present
    api_timeout: 300
  loop: "{{ cloudstack_ops_secondary_storages }}"
  loop_control:
    loop_var: storage
    label: "{{ storage.name }}"
