# Add KVM Hosts to CloudStack
---
- name: Add KVM hosts to clusters
  ngine_io.cloudstack.host:
    api_url: '{{ cloudstack_api_url }}'
    api_key: '{{ cloudstack_api_key }}'
    api_secret: '{{ cloudstack_api_secret }}'
    name: '{{ host.hostname }}'
    zone: '{{ cloudstack_ops_zone.name }}'
    pod: '{{ host.pod_name | default(cloudstack_ops_pods[0].name) }}'
    cluster: '{{ host.cluster_name }}'
    hypervisor: 'KVM'
    username: '{{ host.username | default(ansible_user) }}'
    password: '{{ host.password | default(ansible_password) }}'
    url: 'http://{{ host.hostname }}'
    state: present
    api_timeout: 300
    host_tags: "{{ host.host_tags | split(',') }}"
  loop: '{{ cloudstack_ops_hosts }}'
  loop_control:
    loop_var: host
    label: '{{ host.hostname }}'
  no_log: true

- name: Identify hosts requiring tags
  ansible.builtin.set_fact:
    cloudstack_ops_hosts_to_tag: "{{ cloudstack_ops_hosts | selectattr('host_tags', 'defined') | list }}"

- name: Get host details for tagging
  ansible.builtin.uri:
    url: '{{ cloudstack_api_url }}'
    method: POST
    body_format: form-urlencoded
    body:
      command: listHosts
      name: '{{ host_to_tag.hostname }}'
      type: Routing
      response: json
      sessionkey: '{{ cloudstack_session_key }}'
    headers:
      Cookie: '{{ cloudstack_cookies }}'
    timeout: '{{ cloudstack_ops_async_timeout }}'
  loop: '{{ cloudstack_ops_hosts_to_tag }}'
  loop_control:
    loop_var: host_to_tag
    label: '{{ host_to_tag.hostname }}'
  register: cloudstack_ops_host_details
  when: cloudstack_ops_hosts_to_tag | length > 0

- name: Update host tags
  ansible.builtin.uri:
    url: '{{ cloudstack_api_url }}'
    method: POST
    body_format: form-urlencoded
    body:
      command: updateHost
      id: '{{ item.json.listhostsresponse.host[0].id }}'
      hosttags: '{{ item.host_to_tag.host_tags }}'
      response: json
      sessionkey: '{{ cloudstack_session_key }}'
    headers:
      Cookie: '{{ cloudstack_cookies }}'
    timeout: '{{ cloudstack_ops_async_timeout }}'
  loop: '{{ cloudstack_ops_host_details.results | default([]) }}'
  loop_control:
    label: "{{ item.host_to_tag.hostname | default('N/A') }}"
  when:
    - item.json.listhostsresponse.host | default([]) | length > 0
    - item.host_to_tag.host_tags | default('') | length > 0
