# Add KVM Hosts to CloudStack
---
- name: Add KVM hosts to clusters
  ngine_io.cloudstack.host:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ host.hostname }}"
    zone: "{{ cloudstack_ops_zone.name }}"
    pod: "{{ host.pod_name | default(cloudstack_ops_pods[0].name) }}"
    cluster: "{{ host.cluster_name }}"
    hypervisor: "KVM"
    username: "{{ host.username | default(ansible_user) }}"
    password: "{{ host.password | default(ansible_password) }}"
    url: "http://{{ host.hostname }}"
    state: present
    api_timeout: 300
  loop: "{{ cloudstack_ops_hosts }}"
  loop_control:
    loop_var: host
  register: cloudstack_ops_hosts_result
  no_log: true

- name: Display host information
  ansible.builtin.debug:
    msg: "Host '{{ item.host.hostname }}' {{ 'added' if item.changed else 'already exists' }}"
  loop: "{{ cloudstack_ops_hosts_result.results }}"
  when: cloudstack_ops_hosts_result.results is defined
