# Configure Public IP Ranges
---
- name: Add public IP ranges
  ngine_io.cloudstack.vlan_ip_range:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    zone: "{{ cloudstack_ops_zone.name }}"
    start_ip: "{{ ip_range.start_ip }}"
    end_ip: "{{ ip_range.end_ip }}"
    gateway: "{{ ip_range.gateway }}"
    netmask: "{{ ip_range.netmask }}"
    vlan: "{{ ip_range.vlan | default('untagged') }}"
    for_virtual_network: true
    state: present
    api_timeout: 300
  loop: "{{ cloudstack_ops_public_ip_ranges }}"
  loop_control:
    loop_var: ip_range
    label: "{{ ip_range.start_ip }}-{{ ip_range.end_ip }}"
