# Create CloudStack Zone
---
- name: Check if zone exists
  ngine_io.cloudstack.zone_info:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ cloudstack_ops_zone.name }}"
  register: cloudstack_ops_zone_info
  failed_when: false

- name: Create zone
  ngine_io.cloudstack.zone:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ cloudstack_ops_zone.name }}"
    dns1: "{{ cloudstack_ops_zone.dns1 }}"
    dns2: "{{ cloudstack_ops_zone.dns2 | default(omit) }}"
    internal_dns1: "{{ cloudstack_ops_zone.internal_dns1 }}"
    internal_dns2: "{{ cloudstack_ops_zone.internal_dns2 | default(omit) }}"
    network_type: "{{ cloudstack_ops_zone.network_type }}"
    guest_cidr_address: "{{ cloudstack_ops_zone.guest_cidr | default(omit) }}"
    domain: "{{ cloudstack_ops_zone.domain | default(omit) }}"
    local_storage_enabled: "{{ cloudstack_ops_zone.local_storage_enabled | default(false) }}"
    securitygroups_enabled: "{{ cloudstack_ops_zone.security_groups_enabled | default(false) }}"
    state: present
    api_timeout: 300
  register: cloudstack_ops_zone_result
  when: cloudstack_ops_zone_info.zones | default([]) | length == 0

- name: Set zone ID
  ansible.builtin.set_fact:
    cloudstack_ops_zone_id: "{{ cloudstack_ops_zone_result.id | default((cloudstack_ops_zone_info.zones | default([{}]))[0].id | default('')) }}"
