# Create CloudStack Pods
---
- name: Create pods
  ngine_io.cloudstack.pod:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ pod.name }}"
    zone: "{{ cloudstack_zone.name }}"
    gateway: "{{ pod.gateway }}"
    netmask: "{{ pod.netmask }}"
    start_ip: "{{ pod.start_ip }}"
    end_ip: "{{ pod.end_ip }}"
    state: present
    api_timeout: 300
  loop: "{{ cloudstack_pods }}"
  loop_control:
    loop_var: pod
  register: pods_result

- name: Display pod information
  ansible.builtin.debug:
    msg: "Pod '{{ item.pod.name }}' {{ 'created' if item.changed else 'already exists' }}"
  loop: "{{ pods_result.results }}"
  when: pods_result.results is defined
