# Create CloudStack SSH Key Pair
---
- name: Create SSH key
  ngine_io.cloudstack.ssh_key:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    api_timeout: 300
    name: "{{ cloudstack_ops_ssh_key_name }}"
    state: present
  register: cloudstack_ops_ssh_key_result

- name: Ensure local SSH directory exists
  ansible.builtin.file:
    path: "~/.ssh"
    state: directory
    mode: "0700"
  delegate_to: localhost

- name: Save private key
  ansible.builtin.copy:
    content: "{{ cloudstack_ops_ssh_key_result.private_key }}"
    dest: "~/.ssh/{{ cloudstack_ops_ssh_key_name }}"
    mode: "0600"
  delegate_to: localhost
  when: cloudstack_ops_ssh_key_result.private_key is defined
  no_log: true
