# Create CloudStack Networks
---
- name: Create guest networks
  ngine_io.cloudstack.network:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    api_timeout: 300
    name: "{{ network.name }}"
    display_text: "{{ network.display_text | default(network.name) }}"
    zone: "{{ cloudstack_ops_zone.name }}"
    network_offering: "{{ network.network_offering }}"
    gateway: "{{ network.gateway | default(omit) }}"
    netmask: "{{ network.netmask | default(omit) }}"
    start_ip: "{{ network.start_ip | default(omit) }}"
    end_ip: "{{ network.end_ip | default(omit) }}"
    vlan: "{{ network.vlan | default(omit) }}"
    state: present
  loop: "{{ cloudstack_ops_networks }}"
  loop_control:
    loop_var: network
    label: "{{ network.name }}"
