# Enable CloudStack Zone
---
- name: Enable the zone
  ngine_io.cloudstack.zone:
    api_url: "{{ cloudstack_api_url }}"
    api_key: "{{ cloudstack_api_key }}"
    api_secret: "{{ cloudstack_api_secret }}"
    name: "{{ cloudstack_ops_zone.name }}"
    state: enabled
    api_timeout: 300
