# Prepare OS for CloudStack Management Server
---
- name: Gather facts
  ansible.builtin.setup:
  when: ansible_facts['fqdn'] is not defined

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist
    autoremove: true
    autoclean: true

- name: Set hostname
  ansible.builtin.hostname:
    name: '{{ prepare_management_hostname }}'
  when: prepare_management_hostname != ansible_facts['hostname']

- name: Configure /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^{{ ansible_facts['default_ipv4']['address'] | default('127.0.1.1') }}.*{{ prepare_management_hostname }}.*"
    line: "{{ ansible_facts['default_ipv4']['address'] | default('127.0.1.1') }} {{ prepare_management_hostname }} {{ prepare_management_hostname.split('.')[0] }}"
    state: present
    backup: true
  when: prepare_management_hostname is defined

- name: Ensure localhost entry
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^127\\.0\\.0\\.1"
    line: '127.0.0.1 localhost localhost.localdomain'
    state: present

- name: Install chrony
  ansible.builtin.apt:
    name: '{{ prepare_management_chrony_packages }}'
    state: present
    update_cache: true

- name: Enable chrony
  ansible.builtin.systemd:
    name: '{{ prepare_management_chrony_service }}'
    enabled: true
    state: started

- name: Configure passwordless sudo
  ansible.builtin.lineinfile:
    path: '/etc/sudoers.d/{{ ansible_user }}'
    line: '{{ ansible_user }} ALL=(ALL) NOPASSWD: ALL'
    create: true
    mode: '0440'
    validate: 'visudo -cf %s'
  when:
    - ansible_user is defined
    - ansible_user != 'root'
