# CloudStack Management Server Deployment Playbook
---
- name: Deploy CloudStack Management Server with Database
  hosts: cloudstack_management
  become: true
  gather_facts: true
  vars_files:
    - ../../vars/common.vault.yaml
  vars:
    prepare_management_nfs_enabled: true
  roles:
    - role: homelab.cloudstack.prepare_management
