# Create Clusters in Pods
---
- name: Create clusters
  ngine_io.cloudstack.cluster:
    api_url: '{{ cloudstack_api_url }}'
    api_key: '{{ cloudstack_api_key }}'
    api_secret: '{{ cloudstack_api_secret }}'
    name: '{{ item.name }}'
    zone: '{{ configure_zone_zone.name }}'
    pod: '{{ item.pod_name }}'
    hypervisor: "{{ item.hypervisor | default('KVM') }}"
    cluster_type: "{{ item.cluster_type | default('CloudManaged') }}"
    state: present
  loop: '{{ configure_zone_clusters }}'
  loop_control:
    label: '{{ item.name }}'
  register: configure_zone_clusters_result

- name: Build cluster ID map
  ansible.builtin.set_fact:
    configure_zone_cluster_ids: >-
      {{ dict(configure_zone_clusters_result.results | map(attribute='name')
         | zip(configure_zone_clusters_result.results | map(attribute='id'))) }}

- name: Update cluster CPU architecture
  ansible.builtin.uri:
    url: '{{ cloudstack_api_url }}'
    method: POST
    body_format: form-urlencoded
    body:
      command: updateCluster
      id: '{{ configure_zone_cluster_ids[item.name] }}'
      arch: '{{ item.cpu_arch }}'
      response: json
      sessionkey: '{{ cloudstack_session_key }}'
    headers:
      Cookie: '{{ cloudstack_cookies }}'
  loop: '{{ configure_zone_clusters }}'
  loop_control:
    label: "{{ item.name }} - {{ item.cpu_arch | default('x86_64') }}"
  when: item.cpu_arch is defined
  ignore_errors: true
