# CloudStack API Authentication
---
- name: Login to CloudStack # noqa: var-naming[no-role-prefix]
  ansible.builtin.uri:
    url: '{{ cloudstack_api_url }}'
    method: POST
    body_format: form-urlencoded
    body:
      command: login
      username: '{{ cloudstack_admin_username }}'
      password: '{{ cloudstack_admin_password }}'
      response: json
    status_code: [200]
  register: api_auth_login_response
  no_log: true

- name: Extract session # noqa: var-naming[no-role-prefix]
  ansible.builtin.set_fact:
    cloudstack_session_key: '{{ api_auth_login_response.json.loginresponse.sessionkey }}'
    cloudstack_cookies: '{{ api_auth_login_response.cookies_string }}'
  no_log: true

- name: Get users # noqa: var-naming[no-role-prefix]
  ansible.builtin.uri:
    url: '{{ cloudstack_api_url }}'
    method: POST
    body_format: form-urlencoded
    body:
      command: listUsers
      response: json
      sessionkey: '{{ cloudstack_session_key }}'
    headers:
      Cookie: '{{ cloudstack_cookies }}'
  register: api_auth_users_response

- name: Find admin user
  ansible.builtin.set_fact:
    api_auth_admin_user: "{{ api_auth_users_response.json.listusersresponse.user | selectattr('username', 'equalto', cloudstack_admin_username) | first }}"

- name: Check if API keys exist
  ansible.builtin.set_fact:
    api_auth_keys_exist: "{{ api_auth_admin_user.apikey | default('') | length > 0 }}"

- name: Get existing API keys
  when: api_auth_keys_exist
  block:
    - name: Retrieve user keys
      ansible.builtin.uri:
        url: '{{ cloudstack_api_url }}'
        method: POST
        body_format: form-urlencoded
        body:
          command: getUserKeys
          id: '{{ api_auth_admin_user.id }}'
          response: json
          sessionkey: '{{ cloudstack_session_key }}'
        headers:
          Cookie: '{{ cloudstack_cookies }}'
      register: api_auth_get_keys_response
      no_log: true

    - name: Set API keys # noqa: var-naming[no-role-prefix]
      ansible.builtin.set_fact:
        cloudstack_api_key: '{{ api_auth_get_keys_response.json.getuserkeysresponse.userkeys.apikey }}'
        cloudstack_api_secret: '{{ api_auth_get_keys_response.json.getuserkeysresponse.userkeys.secretkey }}'
      no_log: true

- name: Generate API keys
  when: not api_auth_keys_exist
  block:
    - name: Register new keys
      ansible.builtin.uri:
        url: '{{ cloudstack_api_url }}'
        method: POST
        body_format: form-urlencoded
        body:
          command: registerUserKeys
          id: '{{ api_auth_admin_user.id }}'
          response: json
          sessionkey: '{{ cloudstack_session_key }}'
        headers:
          Cookie: '{{ cloudstack_cookies }}'
      register: api_auth_keys_response

    - name: Set API keys # noqa: var-naming[no-role-prefix]
      ansible.builtin.set_fact:
        cloudstack_api_key: '{{ api_auth_keys_response.json.registeruserkeysresponse.userkeys.apikey }}'
        cloudstack_api_secret: '{{ api_auth_keys_response.json.registeruserkeysresponse.userkeys.secretkey }}'
      no_log: true
